<div class="columns">
	<div class="column is-4">
		<div class="iframeWrapper" *ngIf="site.url">
			<iframe [src]="this.site.url | trust" frameborder="0" class="is-16by9">
			<span class="has-text-weight-bold">Your browser does not support iframes</span>
			</iframe>
		</div>
	</div>
	<div class="column is-6">
		<div class="iframeText is-fullwidth">
			<p>
				<strong>{{site.title}}</strong>
				<br>
				{{site.body}}
			</p>
		</div>
	</div>
</div>