<div class="modal" [class.is-active]="modal">
	<div class="modal-background"></div>
	<div class="modal-content">
		<div class="notification">
			<form #form="ngForm" (ngSubmit)="verifySite(form.value)">
				<div class="field">
					<label class="label">Title</label>
					<div class="control">
						<input class="input" name="title" required="required" type="text" minlength="0" maxlength="50" [ngModel]="newSite.title">
					</div>
				</div>
				<div class="field">
					<label class="label">Category</label>
					<div class="control">
						<div class="select">
							<select name="category" [ngModel]="newSite.category">
								<option value="1" required="required" selected="selected">Lifestyle</option>
								<option value="2">Travel</option>
								<option value="3">Video</option>
							</select>
						</div>
					</div>
				</div>
				<div class="field">
					<label class="label">Body</label>
					<div class="control">
						<textarea name="body" class="textarea" required="required" [ngModel]="newSite.body"></textarea>
					</div>
				</div>
				<div class="field">
					<label class="label">URL</label>
					<div class="control">
						<input name="url" class="input is-fullwidth" type="url" placeholder="Optional" [ngModel]="newSite.url">
					</div>
				</div>
				<div class="field is-grouped">
					<div class="control">
						<button type="submit" class="button is-success">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
