<section class="hero is-info">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
			{{title}}
			</h1>
		</div>
	</div>
</section>
<modal-button (onClicked)="onClicked($event)"></modal-button>
<div class="level">
	<div class="level-item">
		<pagination-controls (pageChange)="pageNo = $event"></pagination-controls>
	</div>
</div>
<div class="container is-fullheight is-fluid">
	<div class="columns">
		<div class="column is-12">
			<div *ngIf="addedSite">
				<hr>
				<app-site [site]="addedSite" class="is-fullwidth"></app-site>
			</div>
			<div *ngFor="let site of sites | paginate: { itemsPerPage: 3, currentPage: pageNo }" class="siteWrapper">
				<hr>
				<app-site [site]="site" class="is-fullwidth"></app-site>
			</div>
		</div>
	</div>
</div>
<app-form class="is-fullwidth" [modal]="modal" (onClicked)="onClicked($event)" (displaySite)="displaySite($event)"></app-form>
