html, body, app-root {
	min-height:					100vH;
	min-width:					100vW;
	height:						auto;
	margin:						0;
	padding:					0;
}

.siteWrapper {
	max-height: 				20em;
}

.iframeWrapper {
    width: 						auto;
    height: 					22em;
    padding: 					0;
    overflow: 					hidden;
}

.iframeText {
	width: 						calc(100% - 25em);
	padding-right: 				1em;
}

.iframeText > p {
	height: 					calc(100% - 3em);
}

iframe {
    /* a relatively small 16:9 resolution*/
    width: 						1120px;
    height: 					630px;
    border: 					0;
    /* iframe content scaling */
    -ms-transform: 				scale(0.35);
    -moz-transform: 			scale(0.35);
    -o-transform: 				scale(0.35);
    -webkit-transform: 			scale(0.35);
    transform: 					scale(0.35);
    -ms-transform-origin: 		0 0;
    -moz-transform-origin: 		0 0;
    -o-transform-origin: 		0 0;
    -webkit-transform-origin: 	0 0;
    transform-origin: 			0 0;
}

/* Bulma Overrides */

.is-fullwidth {
	width:						100% !important;
}

.is-fullheight {
	height:						100% !important;
}

.is-absolute {
	position:					absolute;
}

/* Temp workaround */
.has-vertically-aligned-content {
	display:					flex;
	flex-direction:				column;
	justify-content:			center;
}

/* End Bulma Overrides */